page-edit-profile {
    background-color: whitesmoke;
    ion-thumbnail img {
        margin: auto;
        border:2px solid #ededed,;
        border-radius: 50%;
        height:168px;
        width:160px;
    }
 ion-thumbnail h4 {
     margin:auto;
     font: bold 13px/1.5 Helvetica, Verdana, sans-serif;
     
 }
}
































