<!-- <ion-header >
  <ion-navbar style="z-index:0">
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
   <ion-buttons right>
      <button ion-button icon-only (click)="setting();$event.stopPropagation();">
          <ion-icon name="options"></ion-icon>
        </button>
     
   </ion-buttons>
    <ion-title>
      Gojo +
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
   
  </ion-toolbar>

</ion-header>  -->

<ion-content>

  


  
  <div #map id="map">
      
    
      
        
      <ion-searchbar  [(ngModel)]="autocomplete.input"  placeholder="Search with area address" showCancelButton="true" (ionInput)="updateSearchResults($event)" id='searchInput'
      (ionCancel)="onSearchCancel()" (ionClear)="onSearchClear()">
      
    </ion-searchbar>
    <ion-list *ngIf="autocompleteItems.length > 0" margin-left margin-right >
        <ion-item>
          <ion-icon small item-start name="navigate"></ion-icon>
    
          <ion-label> Current location</ion-label>
        </ion-item>
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
          <ion-icon small item-start name="pin"></ion-icon>
          <ion-label> {{ item.description }}</ion-label>
    
        </ion-item>
      </ion-list>
  
      
       
  </div>

      
        <ion-fab  middle right>
            <button   *ngIf = "total_markers.length >0" mini ion-fab color='primary' (click)="showList()">
                <ion-icon name="list-box" ></ion-icon>
            </button>
            <button mini ion-fab color='primary' (click)="setting()">
                <ion-icon name="ios-funnel-outline" ></ion-icon>
            </button>
          </ion-fab>
        
        <!-- <ion-list *ngIf="showListFormFlag == true">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/profile.png">
            </ion-thumbnail>
            <h2>My Neighbor Totoro</h2>
            <p>Hayao Miyazaki • 1988</p>
            <button ion-button clear item-end>View</button>
          </ion-item>
        </ion-list> -->
        
</ion-content>
