page-settings {
    .top{
         .list-header-md{
                padding-bottom: 0 !important;
                margin-bottom: 0 !important;
            }
            .range-md.range-has-pin.range-pressed {
                padding-top: 28px;
                padding-bottom:10px;
            }
     .range-md{
         padding:0px;
         padding-bottom:10px;
     }
   
   
    .small-text {
      font-size: 10px;
    }
  
    }

}
