page-listings {
    .list{
	
		
		h2 {
		  font: bold 13px/1.5 Helvetica, Verdana, sans-serif;
		  color:orange;
		}
		
		 p {
			font: 200 12px/1.5 Georgia, Times New Roman, serif;	
		   color:#888;
			}
		
		

	}
}
